:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-green: #3bc359;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --button-font-size: 18px;

  /* annimation */
  --annimation-duration: 300ms;
}

/*공통적으로 쓰이는 사이즈나 색상같은 경우는 
변수로 정의해 놓고 쓰는 것이 좋다 
? 나중에 변경될 사항이 있을 때 유지보수가 쉽다 */

body {
  height: 100vh;
  /*vh : 뷰포트의 높이값에 맞게 사용 */
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* 마우스를 올렸을 떄 클릭이 가능하도록 */
.logo {
  cursor: pointer;
  /* 에니메이션 주기 */
  transition: transform var(--annimation-duration) ease;
}

.btn {
  /* 투명 */
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  margin-right: var(--base-space);
}

/* 마우스를 올렸을 때 크기의 변화 */
.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--button-font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.delBtn {
  border: 0px;
  background-color: transparent;
  font-size: var(--button-font-size);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.green {
  background-color: var(--color-green);
}


.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--button-font-size);
  flex: 1 1 auto;
}

.add-container {
  position: fixed;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.hide {
  display: none;
}